<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../partials/head.ejs %>
  </head>

  <body>

    <div class="container">

      <% include ../partials/header.ejs %>

      <div class="jumbotron" id="loginPart">
        <h1>Reset Password</h1>
        <% if(status == 'expired') { %>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Token Expired</h3>
                </div>
                <div class="panel-body">Your token has expired. Please request a new token.</div>
            </div>
        <% } %>
        <% if(status == 'noPassMatch') { %>
              <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Passwords do not Match</h3>
                </div>
                <div class="panel-body">Your passwords do not match. Please check and type again.</div>
            </div>
        <% } %>
        <% if(status == 'notFound') { %>
              <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> User Not Found</h3>
                </div>
                <div class="panel-body">User for this reset request has not been found. User may be deleted.</div>
            </div>
        <% } %>

        <% if(status != 'success') { %>        
        <form class="form-signin" method="post" action="/account/resetpassword">
          <h4 class="form-signin-heading">Please type your new password</h4>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Password" name="newPass1">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Repeat Password" name="newPass2">
        </div>
        <br>
        <div class="input-group">
            <input class="form-control" type="hidden" type="text" name ="resetToken" value="<%= resetToken %>">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
        </form>
        <% } else { %>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Password Reset</h3>
                </div>
                <div class="panel-body">Your password has been successfully reset. You can login using your new password.</div>
                <button class="btn btn-lg btn-primary btn-block" type="button"><a href="#mibologin">Login</a></button>
            </div>
        <% } %>
        
      </div>

      

      <% include ../partials/footer.ejs %>

    </div> <!-- /container -->
    

    <% include ../partials/jsdefaults.ejs %>
  </body>
</html>
