<!DOCTYPE HTML>
<html>

<head>
    <link href='//fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <div class="wrap">
        <div class="logo">
            <h1>404</h1>
            <p>Oops! - Page not Found</p>
            <div class="sub">
                <p><a href="http://mibo.io">Home</a></p>
            </div>
        </div>
    </div>
</body>

</html>