.container {
    width: 70%;
}

img {
    max-width: 75px;
    border-radius: 2px;
}

.application {
    text-align: center;
}

#stripe-alert {
    display: none;
}

#stripe-success {
    display: none;
}